<div id="footer">
    <h3>Inspiration for future getaways</h3>
    <hr>
    <i class="ri-arrow-left-s-line"></i>
    <div class="footer-links">
        <div class="footer-support">
            <h4>Support</h4>
            <p>Help Centre</p>
            <p>Get help with a safety issue</p>
            <p>AirCover</p>
            <p>Anti-discrimination</p>
            <p>Disability support</p>
            <p>Cancellation options</p>
            <p>Report neighbourhood concern</p>
        </div>
        <div class="footer-hosting">
            <h4>Hosting</h4>
            <p>Airbnb your home</p>
            <p>Airbnb your experience</p>
            <p>Airbnb your service</p>
            <p>AirCover for Hosts</p>
            <p>Hosting resources</p>
            <p>Community forum</p>
            <p>Hosting responsibly</p>
            <p>Join a free Hosting class</p>
            <p>Find a co‑host</p>
        </div>
        <div class="footer-airbnb">
            <h4>Airbnb</h4>
            <p>2025 Summer Release</p>
            <p>Newsroom</p>
            <p>Careers</p>
            <p>Investors</p>
            <p>Airbnb.org emergency stays</p>
        </div>
    </div>
    <hr style="margin: 2rem 0 2rem 0;">
    <div class="footer-trademarks">
        <div class="footer-trademark-1">
            <h5>&copy; 2025 Airbnb, Inc.</h5>
            <p>·</p>
            <p>Privacy</p>
            <p>·</p>
            <p>Terms</p>
            <p>·</p>
            <p>Sitemap</p>
            <p>·</p>
            <p>Company details</p>
        </div>
        <div class="footer-trademark-2">
            <h5><i class="ri-global-line" id="global-line"></i> English (IN)</h5>
            <h5>&#8377;  INR</h5>
            <i class="ri-facebook-circle-fill"></i>
            <i class="ri-twitter-x-fill"></i>
            <i class="ri-instagram-line"></i>
        </div>
    </div>
</div>