@font-face {
    font-family: airbnb;
    src: url(/font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: airbnb;
    /* border: 1px solid red; */
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #f9f9f9;
}

#navbar {
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background: linear-gradient(#fff, #fefefe, #fdfdfd, #fcfcfc, #fbfbfb, #fafafa, #f9f9f9, #f8f8f8);
    border-bottom: 1px solid #EBEBEB;
    z-index: 10;
}

.navbar-1 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.1px 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    flex: 1 0 150px;
}

.nav-left img {
    width: 17%;
    margin-top: 0.5rem;
    height: 3.7rem;
    width: 6.5rem;
    cursor: pointer;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 2 1 auto;
}

.nav-center img {
    height: 4.3rem;
    width: 5.2rem;
}

.nav-center > div {
    cursor: not-allowed;
}

.nav-center > div:nth-of-type(1) {
    cursor: pointer;
}

.nav-center-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-center-option p {
    position: relative;
    left: -8%;
    font-family: airbnb;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.25px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 150px;
}

.nav-right p {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 0;
}

.nav-right p:hover {
    background-color: #F2F2F2;
}

.nav-right i {
    height: 2.4rem;
    width: 2.4rem;
    min-width: 2.4rem;
    font-size: 18px;
    background: #f2f2f2;
    border-radius: 50%;
    margin-left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right i:hover {
    background-color: #d7d7d7;
}

.userDropdown {
    position: absolute;
    width: fit-content;
    top: 4.5rem;
    right: 1.75rem;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 100;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.250);
    transition: all 0.2s ease;
    display: none;
}

.userDropdown p {
    display: block;
    color: #000;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    text-align: center;
}

.userDropdown p:hover {
    background-color: #f2f2f2;
}

.dropdown-wrapper:focus-within .userDropdown {
    display: flex;
}

.navbar-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
}

.search-box {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 2px solid #DDDDDD;
    box-shadow: 2px 2px 3px #f5f5f5, -2px -2px 3px #f5f5f5, -2px 2px 3px #f5f5f5, 2px -2px 3px #f5f5f5;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    cursor: not-allowed;
}

.search-box-input-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-box-input-group input:nth-of-type(1) {
    padding: 1.25rem 2.5rem;
}

.search-box-input-group input:nth-of-type(2) {
    padding: 1.25rem 1rem;
}

.search-box-input-group input:nth-of-type(3) {
    padding: 1.25rem 1rem;
}

.search-box-input-group input:nth-last-of-type(1) {
    padding: 1.25rem 2.5rem;
}

.search-box input {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: none;
    transition: 0.2s ease;
    box-sizing: border-box;
    outline: none;
    cursor: not-allowed;
}

.search-box input:hover {
    background-color: #EBEBEB;  
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    padding: 0.8rem;
    background-color: #F43658;
    color: #fff;
    border-radius: 50%;
}

#listings {
    padding: 0 2rem 2rem 2rem;
    height: fit-content;
    width: 100%;
}

.sections {
    margin-top: 2rem;
    height: 18rem;
    width: 100%;
}

.sections h3 {
    height: 12%;
}

.sections-homes {
    height: 88%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 0.5rem;
}

.sections-homes::-webkit-scrollbar {
    display: none;
}

.home {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: calc((100% - 2.5rem)/6);
    overflow: hidden;
    cursor: pointer;
}

.home .home-img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.home .home-content {
    height: fit-content;
    width: 100%;
    padding-left: 0.4rem;
}

.home .home-content p:nth-of-type(1) {
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.home .home-content p:nth-last-of-type(1) {
    font-size: 0.8rem;
    color: rgb(99, 99, 99);
}

.home .home-content p {
    display: flex;
    align-items: center;
}

.home .home-content p i {
    color: rgb(255, 193, 7);
    font-size: 0.6rem;
    padding: 0 0.2rem;
}

.home-guest-fav {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
}

.home-guest-fav p {
    padding: 0.3rem 0.5rem;
    font-size: 0.70rem;
    font-weight: 600;
    background-color: rgba(234, 227, 220, 0.95);
    border-radius: 20px;
}

.home > i {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.1s all;
}

.home > i:hover {
    transform: scale(1.2);
}

#footer {
    height: fit-content;
    width: 100%;
    background-color: #F7F7F7;
    padding: 2rem;
}

#footer > hr {
    background-color: #DDDDDD;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

#footer > i {
    font-size: 1.5rem;
}

.footer-links {
    display: flex;
    width: 100%;
    padding-top: 2.5rem;
}

.footer-support {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 1rem;
}

.footer-links p, h4 {
    margin-bottom: 0;
    width: fit-content;
}

.footer-links h4 {
    font-size: 13.6px;
    font-weight: 900;
}

.footer-links h5 {
    font-size: 12;
}

.footer-support p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-hosting {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 1rem;
}

.footer-hosting p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-airbnb {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 1rem;
}

.footer-airbnb p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-trademarks {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.footer-trademark-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.footer-trademark-1 div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer-trademark-1 p, h5 {
    margin-bottom: 0;
}

.footer-trademark-1 h5 {
    font-size: 12px;
    font-weight: 700;
}

.footer-trademark-1 p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-trademark-2 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-trademark-2 > div:nth-of-type(1) {
    display: flex;
    gap: 0.5rem;
}

.footer-trademark-2 h5 {
    font-size: 12px;
    font-weight: 900;
}

.footer-trademark-2 i {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
}

#global-line {
    background-color: transparent;
}

.footer-trademark-2 i:hover {
    background-color: rgba(000, 000, 000, 0.05);
}

.footer-trademark-2 h5 {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flash-msg {
    width: fit-content;
    margin-top: 2rem;
    padding: 14px 22px;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transition: all 0.5s ease-in;
    opacity: 1;
}

.flash-success {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #66bb6a, #79c57d);
    color: white;
}

.flash-error {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg,#f44336, #e46868);
    color: white;
}

.flash-edited {
    position: absolute;
    top: 3.5rem;
    right: 4.75rem;
    background: linear-gradient(90deg,#2f68e4, #687fe8);
    color: white;
}

.flash-reviewCreated {
    position: absolute;
    top: 3.5rem;
    right: 4.75rem;
    background: linear-gradient(90deg,#2f68e4, #687fe8);
    color: white;
}

.flash-reviewDeleted {
    position: absolute;
    top: 3.5rem;
    right: 4.75rem;
    background: linear-gradient(90deg,#f44336, #e46868);
    color: white;
}

.error-container {
    height: fit-content;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.error-container > h1 {
    width: fit-content;
    font-size: 4rem;
    color: red;
}

.error-container > h2 {
    width: fit-content;
    font-size: 2rem;
    display: flex;
    gap: 0.75rem;
}

.error-container > h2 > p {
    color: red;
}

.error-container button {
    margin-top: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #28a745;;
    color: #28a745;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.error-container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #28a745;
    height: 100%;
    width: 100%;
    left: -100%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.error-container button:hover {
    &::before {
        left: 0%;
    }
}

.error-container button:hover {
    color: white;
}


.m-hidden-850 {
    display: none;
}

@media (max-width: 1200px) {
    .nav-right > p {
        display: none;
    }
    .home {
        width: calc((100% - 2rem)/5);
    }
}

@media (max-width: 1150px) {
    .home {
        width: calc((100% - 1.5rem)/4);
    }
}

@media (max-width: 900px) {
    .footer-trademark-1 {
        justify-content: center;
    }
    .footer-trademarks {
        flex-direction: column;
        gap: 1rem;
    }
    .footer-trademark-2 div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .footer-trademark-2 {
        position: relative;
        left: -0.63rem;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .m-hidden-850 {
        display: block;
    }
    .home {
        width: calc((100% - 1rem)/3);
    }
    .search-hidden {
        display: none;
    }
    .search-box-input-group input:nth-of-type(1) {
        padding: 1rem 2rem;
        width: 30rem;
    }
    .navbar-2 {
        padding: 0rem 1rem;
    }
    .sections {
        margin-top: 1rem;
    }

    .footer-links {
        flex-direction: column;
        padding-top: 1.5rem;
    }

    .footer-support, .footer-hosting, .footer-airbnb {
        width: 100%;
    }
}

@media (max-width: 675px) {
    .sections-homes {
        height: 82%;
    }
}

@media (max-width: 625px) {
    .sections-homes {
        height: 88%;
    }
    .home {
        width: calc((100% - 0.5rem)/2);
    }
}

@media (max-width: 600px) {
    .m-hidden-600 {
        display: none;
    }
}

@media (max-width: 575px) {
    #listings {
        padding: 0 1rem 2rem 1rem;
    }
    .navbar-1 {
        padding: 0.1px 1rem;
    }
    .nav-center {
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    .nav-center-option {
        flex-direction: column;
    }
    .nav-center-option p {
        left: 0;
    }
    .nav-center img {
        height: 4rem;
        width: auto;
    }
}

@media (max-width: 525px) {
    .footer-trademark-1 {
        flex-direction: column;
    }
}

@media (max-width: 475px) {
    .home {
        width: calc((100% - 0.5rem)/1.6);
    }
}

@media (max-width: 365px) {
    .home {
        width: calc((100% - 0.5rem)/1.4);
    }
}

@media (max-width: 325px) {
    .home {
        width: calc((100% - 0.5rem)/1.15);
    }
}

/* Above index.ejs page media queries */
/* Below error.ejs page media queries */

@media (max-width: 600) {
    .error-container {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 525px) {
    .error-container {
        padding: 1rem;
    }
    .error-container > h2 {
        white-space: nowrap;
        font-size: 7vw;
    }
}


/* Below Flash message media */

@media (max-width: 1024px) {
    .flash-edited {
        position: absolute;
        top: 0.1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .flash-reviewCreated {
        position: absolute;
        top: 0.1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .flash-reviewDeleted {
        position: absolute;
        top: 0.1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}
